<div class="row m-0">
  <div class="row text-center col-md-12 mt-3">
    <h1 class="text-white">Inicia Sesión</h1>
  </div>
  <div class="row mt-5 justify-content-center align-items-center">
    <div class="form_user col-md-4 bg-light">
      <form [formGroup]="usrLogin" (submit)="handleSubmit()">
        <div class="form_center row justify-content-center">
          <fieldset class="form_fieldset">
            <label for="identification" class="form-label"
              >Identification</label
            >
            <input
              class="form-control"
              maxlength="15"
              type="number"
              id="identification"
              formControlName="identification"
            />
          </fieldset>
          <fieldset class="form_fieldset">
            <label for="password" class="form-label">Password</label>
            <input
              type="text"
              maxlength="20"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </fieldset>
        </div>
        <div class="row form_center justify-content-center">
          <button type="submit" class="btn btn-dark col-md-6">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
